flows.json
[{"id":"513261f6.9d261","type":"tab","label":"Client","disabled":false,"info":""},{"id":"7a5531d.9a3d95","type":"tab","label":"Websocket Server","disabled":false,"info":""},{"id":"55557786.2896c8","type":"tab","label":"Web Socket Server","disabled":true,"info":""},{"id":"79e9f03c.0385","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"35739ac5.e680a6","type":"websocket-listener","path":"/ws/receive","wholemsg":"false"},{"id":"a817b590.bab9d8","type":"websocket-client","path":"ws://localhost:1880/ws/receive","tls":"","wholemsg":"false"},{"id":"fe64b6c6.034958","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"baa0a472.80fa58","type":"mqtt-broker","name":"","broker":"broker.shiftr.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fd56d556.4ea328","type":"websocket in","z":"55557786.2896c8","d":true,"name":"","server":"35739ac5.e680a6","client":"","x":320,"y":180,"wires":[["6281183b.089d38","88190a88.f546d8"]]},{"id":"8e2adf1a.a34f7","type":"websocket out","z":"55557786.2896c8","name":"","server":"35739ac5.e680a6","client":"","x":920,"y":180,"wires":[]},{"id":"420d1c63.a05244","type":"websocket in","z":"55557786.2896c8","d":true,"name":"","server":"","client":"a817b590.bab9d8","x":260,"y":440,"wires":[["f7ada27b.7bf5d"]]},{"id":"88190a88.f546d8","type":"debug","z":"55557786.2896c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":280,"wires":[]},{"id":"f7ada27b.7bf5d","type":"json","z":"55557786.2896c8","name":"","property":"payload","action":"","pretty":false,"x":530,"y":440,"wires":[["88190a88.f546d8"]]},{"id":"6281183b.089d38","type":"function","z":"55557786.2896c8","name":"","func":"\nreturn {payload: msg.payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":180,"wires":[["8e2adf1a.a34f7"]]},{"id":"c2f2beaf.f9aa","type":"function","z":"55557786.2896c8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":480,"wires":[[]]},{"id":"3190c724.94d2a8","type":"mqtt in","z":"55557786.2896c8","name":"visualization","topic":"/laborwoche/sensors","qos":"2","datatype":"auto","broker":"fe64b6c6.034958","x":310,"y":280,"wires":[["6281183b.089d38","88190a88.f546d8"]]},{"id":"7ca23b8e.8985c4","type":"websocket in","z":"7a5531d.9a3d95","name":"WebSocket In","server":"35739ac5.e680a6","client":"","x":350,"y":160,"wires":[[]]},{"id":"ce06fd88.3b996","type":"websocket out","z":"7a5531d.9a3d95","name":"Websocket Out","server":"35739ac5.e680a6","client":"","x":1060,"y":540,"wires":[]},{"id":"8914d1a7.0eccf","type":"inject","z":"513261f6.9d261","name":"","props":[{"p":"payload"},{"p":"user","v":"hartmut","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":240,"wires":[["c1ee4ff7.ead908","1c327302.980ded"]]},{"id":"c1ee4ff7.ead908","type":"websocket out","z":"513261f6.9d261","d":true,"name":"","server":"","client":"a817b590.bab9d8","x":660,"y":120,"wires":[]},{"id":"a3a80a5c.20e298","type":"mqtt out","z":"513261f6.9d261","name":"","topic":"/laborwoche/hartmut","qos":"","retain":"","broker":"baa0a472.80fa58","x":740,"y":240,"wires":[]},{"id":"4e82e8b4.01e2c","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/hartmut","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":180,"y":300,"wires":[["1924bb18.18590d"]]},{"id":"a9a97723.210cb8","type":"debug","z":"7a5531d.9a3d95","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":740,"wires":[]},{"id":"1c327302.980ded","type":"function","z":"513261f6.9d261","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":240,"wires":[["a3a80a5c.20e298"]]},{"id":"67dcfa44.35541c","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/noah","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":170,"y":360,"wires":[["32c53fe5.4273e"]]},{"id":"6e547a78.7468f4","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/marc","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":170,"y":420,"wires":[["8ee28538.96097"]]},{"id":"b9d3645e.e3762","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/marius","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":170,"y":480,"wires":[["66f9b34a.e2dda4"]]},{"id":"841ea1e6.e0b82","type":"function","z":"7a5531d.9a3d95","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":620,"wires":[["ce06fd88.3b996","a9a97723.210cb8"]]},{"id":"5facf892.863998","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/vika","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":160,"y":540,"wires":[["7ca6088a.5ff84"]]},{"id":"1924bb18.18590d","type":"function","z":"7a5531d.9a3d95","name":"","func":"let name = \"hartmut\";\nif (Math.random() < 0.5) name = \"harald\";\nif (Math.random() < 0.5) name = \"herbert\";\n\n\nmsg.payload = {user:name, origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":300,"wires":[["841ea1e6.e0b82"]]},{"id":"32c53fe5.4273e","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'noah', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":360,"wires":[["841ea1e6.e0b82"]]},{"id":"8ee28538.96097","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'marc', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":420,"wires":[["841ea1e6.e0b82"]]},{"id":"66f9b34a.e2dda4","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'marius', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":480,"wires":[["841ea1e6.e0b82"]]},{"id":"7ca6088a.5ff84","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'vika', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":540,"wires":[["841ea1e6.e0b82"]]},{"id":"719bc9a0.7c13e","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/lisa","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":160,"y":600,"wires":[["b894d38d.98fea8"]]},{"id":"b894d38d.98fea8","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'lisa', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":600,"wires":[["841ea1e6.e0b82"]]},{"id":"f8603251.f77c","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/bianca","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":170,"y":660,"wires":[["6bd69276.571914"]]},{"id":"6bd69276.571914","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'bianca', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":660,"wires":[["841ea1e6.e0b82"]]},{"id":"5ba74ead.5e056","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/luca","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":160,"y":720,"wires":[["ad10573f.a1cff"]]},{"id":"ad10573f.a1cff","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'luca', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":720,"wires":[["841ea1e6.e0b82"]]},{"id":"a71610c5.8c812","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/robin","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":170,"y":780,"wires":[["9c077b9c.71eef8"]]},{"id":"9c077b9c.71eef8","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'robin', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":780,"wires":[["841ea1e6.e0b82"]]},{"id":"57c68fd6.21a74","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/johannes","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":180,"y":840,"wires":[["b200e71.9268c98"]]},{"id":"b200e71.9268c98","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'johannes', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":840,"wires":[["841ea1e6.e0b82"]]},{"id":"c0462674.b795d8","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/tobi","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":160,"y":900,"wires":[["f9e27fee.33c8c8"]]},{"id":"f9e27fee.33c8c8","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'tobi', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":900,"wires":[["841ea1e6.e0b82"]]},{"id":"3f302d98.34576a","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/julian","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":170,"y":960,"wires":[["7910c9df.7cd73"]]},{"id":"7910c9df.7cd73","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'julian', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":960,"wires":[["841ea1e6.e0b82"]]},{"id":"f670585f.b43938","type":"mqtt in","z":"7a5531d.9a3d95","name":"","topic":"/laborwoche/katharina","qos":"2","datatype":"auto","broker":"baa0a472.80fa58","x":180,"y":1020,"wires":[["f10432b6.ede3e8"]]},{"id":"f10432b6.ede3e8","type":"function","z":"7a5531d.9a3d95","name":"","func":"msg.payload = {user:'katharina', origPayload:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1020,"wires":[["841ea1e6.e0b82"]]}]